*.o
acosf_inputs
acoshf_inputs
asinf_inputs
asinhf_inputs
atan2f_inputs
atanf_inputs
atanf_test
atanhf_inputs
cbrtf_tests
coshf_inputs
erfcf_inputs
erff_inputs
lgammaf_inputs
log10f_inputs
log1pf_inputs
tanf_inputs
randfloatgen
checkinputs
checkulps
